<form #form="ngForm">
    <div class="row">
        <div class="col-12">
            <h1>Carrito de compras</h1>
        </div>
    </div>
    <div class="row" *ngFor="let producto of itemsCarrito">
        <app-carrito-producto [objProducto]="producto" (eventEliminarCarrito)="eliminarProductoCarrito($event)"></app-carrito-producto>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-8">
                </div>
                <div class="col-4">
                    Total: {{total_venta | number : '.2-2'}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-2">
            <button type="button" class="btn btn-danger" (click)="btnLimpiar_OnClick()">Limpiar carrito</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="btnPedidoRegistrar_OnClick()">Pedido</button>
        </div>
    </div>
</form>