<form #form="ngForm">
    <div class="row">
        <div class="col-12">
            Carrito de compras
        </div>
    </div>
    <div class="row" *ngFor="let producto of productos">
        <app-carrito-producto [objProductoCarrito]="producto"></app-carrito-producto>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-8">
                </div>
                <div class="col-4">
                    Total: {{totalVenta}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-2">
            <button type="button" class="btn btn-danger" (click)="btn_limpiar_OnClick()">Limpiar carrito</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="btn_limpiar_OnClick()">Pedido</button>
        </div>
    </div>
</form>