<br>
<div class="row">
    <div class="col-12">
        <h1>Datos del pedido</h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Correo</span>
            <input type="text" class="form-control" placeholder="Escribe tu correo electronico" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Dirección</span>
            <input type="text" class="form-control" placeholder="Escribe la dirección de envio" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
</div>