<form #form="ngForm">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    {{objProductoCarrito.objProducto.nombre}}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Cantidad: {{objProductoCarrito.cantidad}}
                </div>
                <div class="col-4">
                    Precio Unitario: {{objProductoCarrito.objProducto.lstProductoPrecio[0].valorVenta}}
                </div>
                <div class="col-4">
                    Valor Venta: {{objProductoCarrito.cantidad*objProductoCarrito.objProducto.lstProductoPrecio[0].valorVenta}} Soles
                </div>
            </div>
        </div>
        <div class="col-3">
            <img src="../../../{{objProductoCarrito.objProducto.imageURL}}" width="150px">
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary" (click)="btnEliminar_OnClick(objProductoCarrito.objProducto.idProducto)">Eliminar</button>
        </div>
    </div>
</form>