<br>
<div class="row">
    <img src="../../../{{objProducto.image_url}}" width="10" height="200">
</div>
<div class="row">
    <div class="col-12">
        {{objProducto.nombre}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{objProducto.descripcion}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{objProducto.valor_venta}} soles
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group d-grid gap-2" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Agregar al Carrito
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li><a class="dropdown-item" href="comercial/carrito/{{objProducto.id_producto}}/5">5</a></li>
              <li><a class="dropdown-item" href="comercial/carrito/{{objProducto.id_producto}}/10">10</a></li>
              <li><a class="dropdown-item" href="comercial/carrito/{{objProducto.id_producto}}/15">15</a></li>
              <li><a class="dropdown-item" href="comercial/carrito/{{objProducto.id_producto}}/20">20</a></li>
            </ul>
          </div>
    </div>
</div>
