<br>
    <div class="row">
        <img src="../../../{{objProducto.image_url}}" width="10" height="200">
    </div>
    <div class="row">
        <div class="col-12">
            {{objProducto.nombre}}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{objProducto.descripcion}}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{objProducto.valor_venta}} soles
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary" (click)="btnAgregarCarrito_OnClick(5)" [hidden]="objProducto.selected">Agregar al Carrito</button>
        </div>
        <div class="row">
            <div class="col-5">
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" [hidden]="!objProducto.selected" (change)="btnCantidad_OnSelected()" [(ngModel)]="cantidad">
                    <option [ngValue]="5">5 unid</option>
                    <option [ngValue]="10">10 unid</option>
                    <option [ngValue]="15">15 unid</option>
                    <option [ngValue]="20">20 unid</option>
                </select>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-danger" [hidden]="!objProducto.selected" (click)="btnEliminarCarrito_OnClick(objProducto.id_producto)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>